chromadb>=0.4.15
pydantic>=2.5.2
# langchain>=0.1.12
langchain-openai>=0.0.8
sentence-transformers>=2.2.2
python-dotenv>=1.0.0
jupyter>=1.0.0
ollama>=0.1.2
chromadb>=0.4.15
langchain>=0.1.0
sentence-transformers>=2.2.2